@import "tailwindcss";

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
